body {
    background: url('../images/shoes.jpg');
}
.container {
    background-color: blueviolet;

}
h1 {
    font-family: cursive;
    text-align: center;
}
img {
    max-height: 150px;
}

h3 {
    font-style: oblique;
    font:bold;
}
form {
    padding: 10px;
}

.container {
    color: black;

}

input {
    margin: 10px;
}

button {
    background-color: navy;
    border: none;
}

#shoeButtons {
    margin: 10px;
    background-color: blue;
}


